.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book {
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book h2 {
  margin-top: 0;
}

.book p {
  margin: 10px 0;
}

.isbn {
  font-weight: bold;
}

.availability {
  font-weight: bold;
}

.available {
  color: rgb(0, 124, 128);
}

.unavailable {
  color: red;
}
