.BooksPage {
  background-image: url('C:/Users/polan/Downloads/stripes.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.SearchBar {
  margin-bottom: 20px;
}

.SearchBar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.BookItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.BookIcon {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background-image: url('C:/Users/polan/Downloads/book5.png');
  background-size: cover;
  background-position: center;
}

.BookDetails {
  flex: 1;
}

.BookDetails h2 {
  margin-top: 0;
}

.BookDetails p {
  margin: 5px 0;
}

.DeleteButton {
  flex: 0 0 auto;
  background-color: red;
  color: white;
  margin-bottom: 0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
