.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rectangle {
  width: 12cm;
  height: 14cm;
  background-color: rgba(148, 148, 148, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field {
  width: 100%;
}

.button-container {
  gap: 3rem;
  margin-top: 2rem;
  text-align: center;
}
